.signup {
    background-position: center;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    background-image: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=996&t=st=1704466246~exp=1704466846~hmac=e23f14113986bc52187bc92dff5590e8d57e9e9df1e86536aebd7683fcce9ef0');
  }
  